*, 
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{ 
    --color-primary: #7fa8a0;
    --color-primary-light: #94b8b1;


    --color-white: #fff; 
    --color-black: #000;

    --progress-fill: 0%;
}

body{
    height: 100vh;
    font-family: Comfortaa, sans-serif;
    background-image: url(../img/background-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-color: lightblue;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main{
    width: 55%;
    animation: scaleUp 1s linear;
}

.main.main-game{
    width: 80%; 
}

.main-heading {
    text-align: center;
}
.main h1{
    font-size: 3rem;
    display: inline-block;
    background: linear-gradient(120deg,
    var(--color-primary),  
     var(--color-white));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
}

.home-paragraph{
    font-weight: 500;
    padding: 2rem 0;
    color: var(--color-white);
    font-size: 1.5rem;
    text-align: center;
}

.btn-container{
    text-align: center;
    width: 100%;
}

.btn-container .start-btn, .begin-btn{
    border-radius: 10px;
    background-color: var(--color-primary);
    border: none;
    font-size: 1.5rem;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .4);
    cursor: pointer;
}

.start-btn a{
    padding: 1rem 2rem;
    color:var(--color-white);
    display: block;
    text-align: center;
    text-decoration: none;
    height: 100%;
}

.begin-btn{
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    color: var(--color-white);
}

@keyframes scaleUp {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(.5);
    }
    80%{
        transform: scale(.8)
    }
    100%{
        transform: scale(1);
    }
}

@keyframes fadeOut{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    50%{
        transform: translateX(-50%);
        opacity: 0.5;
    }
    100%{
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes fadeOut{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    50%{
        transform: translateX(-50%);
        opacity: 0.5;
    }
    100%{
        transform: translateX(-100%);
        opacity: 0;
    }
}

.fadeOut{
    animation: fadeOut 1s linear;
}

.customize-quiz-game{
    padding: 1rem;
}

.form-group{
    padding: 0.5rem 0;
}

.form-group label{
    display: block;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: var(--color-white);
}

.form-group input, .form-group select{
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    padding: 8px 4px;
    border: 1px solid var(--color-primary-light);
    border-radius: 5px;
    font: inherit;
}

input.error{
    border: 1px solid red;
}

.form-group input:focus{
    outline: none;
    border: 2px solid var(--color-primary-light);
}


.score-progress-board{
    display: flex;
    justify-content: space-between;
}

.progress-bar-container{
    width: 60%;
    height: 40px;
    border: 1px solid var(--color-black);
    align-self: center;
}

.progress-fill{
    width: var(--progress-fill);
    height: 100%;
    background-color: var(--color-primary);
}

.score-container{
    text-align: center;
}

.score-container h4{
    color: var(--color-primary-light);
    font-size: 1.5rem;
}

.score{
    color: var(--color-white);
    font-size: 2rem;
}

.question-answer-container{
    padding: 2rem 0;
    font-family: Lato, sans-serif;
}

.question-answer-container h2{
    font-size: 2rem;
    font-weight: 900;
}

.options{
    margin-top: 2rem;
}

.option{
    display: flex;
    height: 40px;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.5);
    transition: transform .5s;
    cursor: pointer;
}

.option:hover{
    transform: translateX(-40px);
}

.option:not(:last-child){
    margin-bottom: 1.5rem;
}

.option-alphabet{
    flex: 0 0 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: white;
    font-size: 1.5rem;
}

.option-content{
    flex: 1;
    background-color: var(--color-white);

    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 20px
}

/* PROPERTIES */

.properties{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.properties > *{
    color: white;
}

.properties span{
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
    word-spacing: 1px;
}

/* .buttons-container{
    display: flex;
    justify-content: space-between;
}

.btn-1, .btn-2{
    background-color: var(--color-primary-light);
    color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.5);
    cursor: pointer;
}

.btn-1:focus, .btn-2:focus{
    transform: translateY(10px);
} */

.option-content.correct{
    background-color: var(--color-primary);
    color: white;
}

.option-content.wrong{
    background-color: rgb(155, 7, 7);
    color: white;
}

.alert{
    position: absolute;
    top: 30px;
    left: 0;
    width: 20%;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgba(127, 168, 160, .7);
    text-align: center; 
    color: var(--color-white);
}

.close{
    display: none;
}